<div class="flex-wrap">
    <div #screen id="table" class="cryptic-container" 
        [attr.data-index]="i"
        [ngClass]="{'card': i >= 0, 'outcome': combo.length != 4 }" 
        *ngFor="let combo of questCombinations; let i = index;">

        <div class="padding-container" *ngIf="combo.length === 4">
            <div class="info-container" *ngFor="let rarity of combo; let j = index; let last = last;">
                <ng-container>
                    <div *ngIf="j === 0" class="info-text-container">
                        <template [ngTemplateOutlet]="rarityTemplate" [ngTemplateOutletContext]="{rarity: rarity, type: 'default'}"></template>
                        <div class="rarity-text-container">
                            <p class="info-heading">Quest Type</p>
                            <p class="info-desc">{{ questEnum[rarity] }}</p>
                        </div>
                    </div>
        
                    <div *ngIf="j === 1" class="info-text-container">
                        <template [ngTemplateOutlet]="rarityTemplate" [ngTemplateOutletContext]="{rarity: rarity, type: 'default'}"></template>
                        <div class="rarity-text-container">
                            <p class="info-heading">Surroundings</p>
                            <p class="info-desc">{{ surroundingsEnum[rarity] }}</p>
                        </div>
                    </div>
        
                    <div *ngIf="j === 2" class="info-text-container">
                        <template [ngTemplateOutlet]="rarityTemplate" [ngTemplateOutletContext]="{rarity: rarity, type: 'default'}"></template>
                        <div class="rarity-text-container">
                            <p class="info-heading">Enemies</p>
                            <p class="info-desc">{{ enemyEnum[rarity] }}</p>
                        </div>
                    </div>
        
                    <div *ngIf="j === 3" class="info-text-container">
                        <template [ngTemplateOutlet]="rarityTemplate" [ngTemplateOutletContext]="{rarity: rarity, type: 'default'}"></template>
                        <div class="rarity-text-container">
                            <p class="info-heading">Boss</p>
                            <p class="info-desc">{{ bossEnum[rarity] }}</p>
                        </div>
                    </div>
                </ng-container>

                <div class="background-container" *ngIf="combo.length === 4">
                    <img *ngIf="j === 3 && rarity > 6" class="card-bg" src="../../../../assets/quest/QuestCardBG4.png">
                    <img *ngIf="j === 3 && rarity > 3 && rarity < 7" class="card-bg" src="../../../../assets/quest/QuestCardBG3.png">
                    <img *ngIf="j === 3 && rarity > 1 && rarity < 4" class="card-bg" src="../../../../assets/quest/QuestCardBG2.png">
                    <img *ngIf="j === 3 && rarity === 1" class="card-bg" src="../../../../assets/quest/QuestCardBG1.png">
                </div>

                <div class="character-container" *ngIf="combo.length === 4">
                    <img *ngIf="j === 3 && rarity === 1" class="card-bg character" src="../../../../assets/quest/AncientGoldDragon.png">
                    <img *ngIf="j === 3 && rarity === 2" class="card-bg character" src="../../../../assets/quest/Kraken.png">
                    <img *ngIf="j === 3 && rarity === 3" class="card-bg character" src="../../../../assets/quest/ElderBrain.png">
                    <img *ngIf="j === 3 && rarity === 4" class="card-bg character" src="../../../../assets/quest/Illithilich.png">
                    <img *ngIf="j === 3 && rarity === 5" class="card-bg character" src="../../../../assets/quest/Lich.png">
                    <img *ngIf="j === 3 && rarity === 6" class="card-bg character" src="../../../../assets/quest/Troll.png">
                    <img *ngIf="j === 3 && rarity === 7" class="card-bg character" src="../../../../assets/quest/BarbedDevil.png">
                    <img *ngIf="j === 3 && rarity === 8" class="card-bg character" src="../../../../assets/quest/Werebear.png">
                    <img *ngIf="j === 3 && rarity === 9" class="card-bg character" src="../../../../assets/quest/GelatinousCube.png">
                </div>
            </div>
        </div>

        <div *ngIf="combo[0] === true" class="outcome-container victory">
            <div class="padding-container">
                <p class="outcome-text">Victory</p>

                <div class="info-text-container">
                    <template [ngTemplateOutlet]="rarityTemplate" [ngTemplateOutletContext]="{rarity: combo[1], type: 'victory'}"></template>
                    <div class="rarity-text-container">
                        <p class="info-heading">Enemies</p>
                        <p class="info-desc">{{ enemyEnum[combo[1]] }}</p>
                    </div>
                </div>

                <div class="info-text-container">
                    <template [ngTemplateOutlet]="rarityTemplate" [ngTemplateOutletContext]="{rarity: combo[2], type: 'victory'}"></template>
                    <div class="rarity-text-container">
                        <p class="info-heading">Boss</p>
                        <p class="info-desc">{{ bossEnum[combo[2]] }}</p>
                    </div>
                </div>
            </div>
            
            <div class="background-container">
                <img class="card-bg" *ngIf="combo[2] > 6" src="../../../../assets/quest/QuestCardBGVictory4.png">
                <img class="card-bg" *ngIf="combo[2] > 3 && combo[2] < 7" src="../../../../assets/quest/QuestCardBGVictory3.png">
                <img class="card-bg" *ngIf="combo[2] > 1 && combo[2] < 4" src="../../../../assets/quest/QuestCardBGVictory2.png">
                <img class="card-bg" *ngIf="combo[2] === 1" src="../../../../assets/quest/QuestCardBGVictory1.png">
            </div>

            <div class="character-container">
                <img *ngIf="combo[2] === 1" class="card-bg character" src="../../../../assets/quest/AncientGoldDragon.png">
                <img *ngIf="combo[2] === 2" class="card-bg character" src="../../../../assets/quest/Kraken.png">
                <img *ngIf="combo[2] === 3" class="card-bg character" src="../../../../assets/quest/ElderBrain.png">
                <img *ngIf="combo[2] === 4" class="card-bg character" src="../../../../assets/quest/Illithilich.png">
                <img *ngIf="combo[2] === 5" class="card-bg character" src="../../../../assets/quest/Lich.png">
                <img *ngIf="combo[2] === 6" class="card-bg character" src="../../../../assets/quest/Troll.png">
                <img *ngIf="combo[2] === 7" class="card-bg character" src="../../../../assets/quest/BarbedDevil.png">
                <img *ngIf="combo[2] === 8" class="card-bg character" src="../../../../assets/quest/Werebear.png">
                <img *ngIf="combo[2] === 9" class="card-bg character" src="../../../../assets/quest/GelatinousCube.png">
            </div>
        </div>
        
        <div *ngIf="combo[0] === false" class="outcome-container defeat">
            <div class="padding-container">
                <p class="outcome-text">Defeat</p>

                <div class="info-text-container">
                    <template [ngTemplateOutlet]="rarityTemplate" [ngTemplateOutletContext]="{rarity: combo[1], type: 'default'}"></template>
                    <div class="rarity-text-container">
                        <p class="info-heading">Enemies</p>
                        <p class="info-desc">{{ enemyEnum[combo[1]]  }}</p>
                    </div>
                </div>

                <div class="info-text-container">
                    <template [ngTemplateOutlet]="rarityTemplate" [ngTemplateOutletContext]="{rarity: combo[2], type: 'default'}"></template>
                    <div class="rarity-text-container">
                        <p class="info-heading">Boss</p>
                        <p class="info-desc">{{ bossEnum[combo[2]] }}</p>
                    </div>
                </div>
            </div>

            <div class="background-container">
                <img class="card-bg" *ngIf="combo[2] > 6" src="../../../../assets/quest/QuestCardBGDefeat4.png">
                <img class="card-bg" *ngIf="combo[2] > 3 && combo[2] < 7" src="../../../../assets/quest/QuestCardBGDefeat3.png">
                <img class="card-bg" *ngIf="combo[2] > 1 && combo[2] < 4" src="../../../../assets/quest/QuestCardBGDefeat2.png">
                <img class="card-bg" *ngIf="combo[2] === 1" src="../../../../assets/quest/QuestCardBGDefeat1.png">
            </div>
            
            <div class="character-container">
                <img *ngIf="combo[2] === 1" class="card-bg character" src="../../../../assets/quest/AncientGoldDragon.png">
                <img *ngIf="combo[2] === 2" class="card-bg character" src="../../../../assets/quest/Kraken.png">
                <img *ngIf="combo[2] === 3" class="card-bg character" src="../../../../assets/quest/ElderBrain.png">
                <img *ngIf="combo[2] === 4" class="card-bg character" src="../../../../assets/quest/Illithilich.png">
                <img *ngIf="combo[2] === 5" class="card-bg character" src="../../../../assets/quest/Lich.png">
                <img *ngIf="combo[2] === 6" class="card-bg character" src="../../../../assets/quest/Troll.png">
                <img *ngIf="combo[2] === 7" class="card-bg character" src="../../../../assets/quest/BarbedDevil.png">
                <img *ngIf="combo[2] === 8" class="card-bg character" src="../../../../assets/quest/Werebear.png">
                <img *ngIf="combo[2] === 9" class="card-bg character" src="../../../../assets/quest/GelatinousCube.png">
            </div>
        </div>
        

        <ng-template #rarityTemplate let-rarity="rarity" let-type="type">
            <!-- <p>{{ rarity }}</p> -->
            <!-- <p>{{ type }}</p> -->
            <ng-container *ngIf="type === 'default'">
                <div class="rarity-img-sizer" *ngIf="rarity > 6">
                    <img class="rarity-img common" src="../../../../assets/quest/quest_icon_common.png">
                </div>

                <div class="rarity-img-sizer" *ngIf="rarity > 3 && rarity < 7">
                    <img class="rarity-img rare" src="../../../../assets/quest/quest_icon_rare.png">
                </div>

                <div class="rarity-img-sizer" *ngIf="rarity > 1 && rarity < 4">
                    <img class="rarity-img exotic" src="../../../../assets/quest/quest_icon_exotic.png">
                </div>

                <div class="rarity-img-sizer" *ngIf="rarity == 1">
                    <img class="rarity-img legendary" src="../../../../assets/quest/quest_icon_legendary.png">
                </div>
            </ng-container>

            <ng-container *ngIf="type === 'victory'">
                <div class="rarity-img-sizer" *ngIf="rarity > 6">
                    <img class="rarity-img common" src="../../../../assets/quest/quest_icon_common_v.png">
                </div>

                <div class="rarity-img-sizer" *ngIf="rarity > 3 && rarity < 7">
                    <img class="rarity-img rare" src="../../../../assets/quest/quest_icon_rare_v.png">
                </div>

                <div class="rarity-img-sizer" *ngIf="rarity > 1 && rarity < 4">
                    <img class="rarity-img exotic" src="../../../../assets/quest/quest_icon_exotic_v.png">
                </div>

                <div class="rarity-img-sizer" *ngIf="rarity == 1" >
                    <img class="rarity-img legendary"src="../../../../assets/quest/quest_icon_legendary_v.png">
                </div>
            </ng-container>
        </ng-template>

        <div id="download">
            <img #canvasList class="canvasList">
            <a #downloadLinks class=".downloadLinks" href="assets/images/Biome.png" download="test.png">Download Image</a>
        </div>
    </div>
</div>

<button #downloadLink id="downloadLink" (click)="downloadImage()">Generate DL</button>