#downloadLink {
    position: absolute;
    top: 40px;
    right: 40px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 200vh;
    margin: 50px 0;

    .cryptic-container {
        position: relative;
        margin: 0px 20px;
        border-radius: 1%;
        overflow: hidden;
        width: 395px;
        height: 592px;

        .padding-container {
            height: 100%;
            padding: 30px 30px;

            .info-text-container {
                display: flex;
                position: relative;
                z-index: 2;
                margin: 30px 10px;

                p {
                    font-family: 'Lora';
                }

                .rarity-text-container {
                    display: inline-block;
                    width: 83%;

                    .info-heading {
                        font-size: 0.85rem;
                        color: #8F8062;
                        margin: 0;
                    }
    
                    .info-desc {
                        font-size: 22px;
                        margin: 0.05rem 0;
                        color: #E4D8C7;
                        display: inline-block;
                    }
                }
            }
        }

        .rarity-img-sizer {
            position: relative;
            z-index: 2;
            display: flex;
            width: 23px;
            margin: auto 20px auto 0;

            .rarity-img {
                width: 23px;
                margin: auto;

                &.common {
                    width: 9px;
                }
    
                &.legendary {
                    width: 15px;
                }
            }
        }

        .outcome-container {
            position: relative;
            z-index: 2;
            border-radius: 1%;
            overflow: hidden;
            width: 395px;
            height: 592px;

            .outcome-text {
                position: relative;
                z-index: 2;
                display: block;
                font-size: 35px;
                color: #8F8062;
                display: inline-block;
                text-align: center;
            }

            .padding-container {
                .info-text-container {
                    display: block;
                    margin: 50px 0;

                    .rarity-img-sizer {
                        display: block;
                        margin: auto;
                        width: fit-content;
                    }

                    .rarity-text-container {
                        display: block;
                        width: fit-content;
                        margin: auto;
                        text-align: center;
                    }
                }
            }

            &.victory {
                .outcome-text {
                    display: block;
                    color: #2A3230;
                }

                .padding-container {
                    .info-text-container {
                        .rarity-text-container {
                            .info-heading {
                                color: #545454;
                                font-weight: 500;
                            }
            
                            .info-desc {
                                color: #2A3230;
                            }
                        }
                    }
                }
            }

            &.defeat {
                .outcome-text {
                    display: block;
                }
            }
        }

        .card-bg {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
        }
    }
}