<button id="test" (click)="generateCombo()">Create CrytpoDragons</button>

<div class="flex-wrap">
  <div #screen id="table" class="cryptic-container" 
      [ngClass]="{'asset' : i > 0 }" 
      *ngFor="let combo of numberCombinations; let i = index;">
    <div class="assets-container">
      <div class="item-container">

        <div [ngClass]="{'asset' : j > 0}" *ngFor="let el of combo; let j = index; let last = last;">
          <div class="item-bg" *ngIf="j < 1" [ngClass]="{'purple' : el > 3 && el <= 6, 'green' : el > 6 && el <= 9 }">
            <div class="star-container">
              <p *ngIf="el < 4">Ultra Rare</p>
              <p *ngIf="el > 3 && el <= 6">Rare</p>
              <p *ngIf="el > 6 && el <= 9">Commmon</p>

              <div class="stars">
                <svg class="star" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                  <g id="XMLID_263_">
                    <path id="XMLID_264_" class="st0" d="M34.4,2.9l8.5,17.2l18.9,2.8c2.2,0.3,3,3,1.5,4.5L49.5,40.6l3.2,18.9c0.4,2.1-1.9,3.8-3.8,2.8
                      L32,53.4l-16.9,8.9c-1.9,1-4.2-0.6-3.8-2.8l3.2-18.9L0.8,27.3c-1.6-1.5-0.7-4.2,1.5-4.5l18.9-2.8l8.5-17.2 C30.6,0.9,33.4,0.9,34.4,2.9z"/>
                  </g>
                </svg>
                <svg class="star" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                  <g id="XMLID_263_">
                    <path id="XMLID_264_" class="st0" d="M34.4,2.9l8.5,17.2l18.9,2.8c2.2,0.3,3,3,1.5,4.5L49.5,40.6l3.2,18.9c0.4,2.1-1.9,3.8-3.8,2.8
                      L32,53.4l-16.9,8.9c-1.9,1-4.2-0.6-3.8-2.8l3.2-18.9L0.8,27.3c-1.6-1.5-0.7-4.2,1.5-4.5l18.9-2.8l8.5-17.2 C30.6,0.9,33.4,0.9,34.4,2.9z"/>
                  </g>
                </svg>
                <svg class="star" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                  <g id="XMLID_263_">
                    <path id="XMLID_264_" class="st0" d="M34.4,2.9l8.5,17.2l18.9,2.8c2.2,0.3,3,3,1.5,4.5L49.5,40.6l3.2,18.9c0.4,2.1-1.9,3.8-3.8,2.8
                      L32,53.4l-16.9,8.9c-1.9,1-4.2-0.6-3.8-2.8l3.2-18.9L0.8,27.3c-1.6-1.5-0.7-4.2,1.5-4.5l18.9-2.8l8.5-17.2 C30.6,0.9,33.4,0.9,34.4,2.9z"/>
                  </g>
                </svg>
              </div>
            </div>

            <div class="stripe-container">
              <span class="stripe"></span>
              <span class="stripe"></span>
              <span class="stripe"></span>
            </div>
          </div>

          <img *ngIf="j === 0" class="cryptic-image" src='{{ "assets/images/body" + el + ".png" }}' />
          <!-- <img *ngIf="j === 1" class="cryptic-image asset" src='{{ "assets/images/belly.png" }}' /> -->
          <img *ngIf="j === 2" class="cryptic-image asset" src='{{ "assets/images/faceAcc" + el + ".png" }}' />
          <!-- <img *ngIf="j === 3" class="cryptic-image asset" src='{{ "assets/images/biome" + el + ".png" }}' /> -->

          <ng-container *ngIf="el >= 1 && el <= 3">
            <img *ngIf="j === 1" class="cryptic-image asset" src='{{ "assets/images/back1.png" }}' />
            <img *ngIf="j === 2" class="cryptic-image asset" src='{{ "assets/images/highlights1.png" }}' />
            <img *ngIf="j === 3" class="cryptic-image asset" src='{{ "assets/images/tail1.png" }}' />
          </ng-container>

          <ng-container *ngIf="el > 3 && el <= 6">
            <img *ngIf="j === 1" class="cryptic-image asset" src='{{ "assets/images/back2.png" }}' />
            <img *ngIf="j === 2" class="cryptic-image asset" src='{{ "assets/images/highlights2.png" }}' />
            <img *ngIf="j === 3" class="cryptic-image asset" src='{{ "assets/images/tail2.png" }}' />
          </ng-container>

          <ng-container *ngIf="el > 6 && el <= 9">
            <img *ngIf="j === 1" class="cryptic-image asset" src='{{ "assets/images/back3.png" }}' />
            <img *ngIf="j === 2" class="cryptic-image asset" src='{{ "assets/images/highlights3.png" }}' />
            <img *ngIf="j === 3" class="cryptic-image asset" src='{{ "assets/images/tail3.png" }}' />
          </ng-container>
    
          <div class="asset-container">
            <p class="asset-blurb" *ngIf="last">{{ dragonBlurbs[el - 1] }}</p>

            <div class="asset-heading" *ngIf="last">
              <p class="asset-text">NO. {{ combo }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="download">
  <img #canvas id="canvas">
  <a #downloadLink id="downloadLink" (click)="downloadImage()">Download</a>
</div>